* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@keyframes example {
    0% {
        background-color: var(--tertiary-color);
    }

    25% {
        background-color: var(--lite-color);
    }

    50% {
        background-color: var(--secondary-color);
    }

    100% {
        background-color: var(--tertiary-color);
    }
}

#header {
    animation-name: example;
    animation-duration: 10s;
}

:root {
    --main-color: #2B303A;
    --primary-color: #FF9F1C;
    --secondary-color: #F64E2D;
    --tertiary-color: #2D0077;
    --extra-color: #E5E5E5;
    --lite-color: #f64e2d08;
    --main-font: 'Proxima nova',
        sans-serif;
}

.btn {
    background-color: var(--secondary-color) !important;
    color: #fff !important;
    border: none !important;
    width: 230px;
    height: 80px;
}

.form-control {
    font-family: var(--main-font) !important;
    border-radius: 2em !important;
    position: relative !important;
    z-index: 1 !important;
    padding: 1em !important;
    width: 370px !important;
    height: 80px !important;
    font-style: normal;
    font-weight: normal;
    font-size: 24px !important;
    line-height: 34px !important;
}

.form-inline .btn {
    font-family: var(--main-font) !important;
    border-bottom-right-radius: 2em !important;
    border-top-right-radius: 2em !important;
    margin-left: -230px !important;
    position: relative !important;
    z-index: 2 !important;
    -webkit-appearance: none !important;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}

h3 {
    font-family: var(--main-font);
    color: var(--tertiary-color);
    font-style: normal !important;
    font-weight: 800 !important;
    font-size: 48px !important;
    line-height: 58px !important;
}

body {
    background-color: #fff;
    width: 100%;
    margin: auto;
}


#header {
    background-color: #fff;
    color: var(--main-color);
}

#header_text {
    position: relative !important;
    transform: translateY(10%);
    font-family: var(--main-font) !important;
    width: 95%;
    margin: auto;
}

#header_one {
    font-family: var(--main-font) !important;
    color: var(--tertiary-color);
    font-style: normal;
    font-weight: 800 !important;
    font-size: 64px !important;
    line-height: 78px !important;
}

#header p {
    font-style: normal;
    font-weight: normal;
    font-size: 32px !important;
    line-height: 48px !important;
}

#header span {
    color: var(--primary-color);
    font-weight: bold;
}

#form-div p {
    font-style: normal;
    font-size: 32px !important;
    line-height: 39px !important;
}


#main {
    margin: auto;
    margin-top: 10em;
    text-align: center !important;
    justify-content: center;
    margin-bottom: 5em;
}

#hero {
    background-color: var(--lite-color);
    color: var(--main-color);
}


#hero .container {
    font-family: var(--main-font);
    width: 100%;
    margin: auto;
}



#hero .col-md-6 {
    display: flex !important;
    flex-direction: row !important;
}

#hero span {
    margin-right: 1em;
}

/*#hero ul li:before {
    content: '✓';
    padding: 1em; 
    background-color: var(--primary-color);
    color: var(--main-color);
    border-radius: 50%;
}

*/

#hero p {
    text-align: left;
    justify-content: center;
    align-content: center;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
}

#productivity p,
#save p {
    font-family: var(--main-font);
    color: var(--main-color);
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
}

#save {
    background-color: var(--lite-color);
    color: var(--main-color);
}


#footer {
    background-color: var(--tertiary-color) !important;
    color: #fff;
}

#footer_text p {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 2em;
}

#main_footer {
    padding: 14em 0;
}

.form-inline {
    width: 100% !important;
    margin: auto !important;
}

#footer_copyright {
    color: white;
    text-align: center;
    padding: 1em;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
}